* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.thanhtoan {
    display: grid;
    height: 100%;
    place-items: center;
    background: #f2f2f2;
    color: #259e35;
}
.trai {
    float: left;
    width: 25%;
    align-items: stretch;
}

.cover{
    float: left;
    width: 65%;
    min-height: 300px;
    margin-right: 14px;
}
img {
    align-items: center;
    width: 40%;
}
label {
    font-size: 130%;
}
input#id {
    font-size:80%;
    border-radius:10px;
}
input#tieude {
    font-size: 80%;
    border-radius: 10px;
}
input#dientich {
    font-size: 80%;
    border-radius: 10px;
}
input#chutro {
    font-size: 80%;
    border-radius: 10px;
}
input#sdt {
    font-size: 80%;
    border-radius: 10px;
}
input#gia {
    font-size: 80%;
    border-radius: 10px;
}
input#diachi {
    font-size: 80%;
    border-radius: 10px;
}
p {
    font-size: 150%;
}
input[type="submit"] {
    background-color: #259e35;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 130%;
}