<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1> USER </h1>
    <div class="cdl_1">
        @RenderBody()
    </div>
</body>
</html>
