<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/img/StyleSheet2.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="ddd">
        <div class="cdl_1">
            <h1>
                BÀI VIẾT
            </h1>
            @RenderBody()
        </div>
    </div>
</body>
</html>
